{% extends "gauge/base.html" %}

{% block extrahead %}
  <script type="text/javascript" src="{{ STATIC_URL }}dashboard.js" charset="utf-8"></script>
{% endblock %}

{% block content %}

  {% for suite in suites %}

    <div class="suite">

      <h2 id="{{ suite.id }}">{{ suite.description }} </h2>
      <h2 class="key">
        <span class="control branch">{{ suite.control }}</span>
        <strong>vs</strong>
        <span class="experiment branch">{{ suite.experiment }}</span>
      </h2>
      <h4>
        Source: {{ suite.repository.url }}<br/>
        {{ suite.benchmark_runs }} Runs Each On Python {{ suite.python_version.name }}<br/>
      </h4>

      {% if significant %}

        {% for benchmark in suite.significant_benchmarks %}
          <div class="metric benchmark has-sparkline">
            <div class="summary"><p><br/>{{ benchmark.name }}</p></div>
            <div class="sparkline" id="spark{{ forloop.counter0 }}" data-metric="{{ benchmark.name }}" data-suite="{{ suite.id }}" data-significant="{% if significant %}1{% else %}0{% endif %}"></div>
          </div>
        {% endfor %}

      {% else %}

        {% for benchmark in suite.benchmarks.distinct %}
          <div class="metric benchmark has-sparkline">
            <div class="summary"><p><br/>{{ benchmark.name }}</p></div>
            <div class="sparkline" id="spark{{ forloop.counter0 }}" data-metric="{{ benchmark.name }}" data-suite="{{ suite.id }}" data-significant="{% if significant %}1{% else %}0{% endif %}"></div>
          </div>
        {% endfor %}

      {% endif %}

    </div>

  {% endfor %}

{% endblock %}
