{% extends "gauge/base.html" %}

{% block extrahead %}
  <script type="text/javascript" src="{{ STATIC_URL }}dashboard.js" charset="utf-8"></script>
{% endblock %}

{% block content %}

  <div id="key">
    <span class="control">Control</span> vs <span class="experiment">Experiment</span>
  </div>

  {% for report in reports %}

    <div class="metric benchmark has-sparkline">

      <div class="summary">
        <p>
        {{ report.benchmark.name }}<br/>
        (Control={{report.suite.control}},
        Experiment={{report.suite.experiment}})
        </p>
      </div>

      <div class="sparkline" id="spark{{ forloop.counter0 }}" data-metric="{{ report.benchmark.name }}" data-control="{{ report.suite.control }}"  data-experiment="{{ report.suite.experiment }}"></div>

    </div>

  {% endfor %}

{% endblock %}