body {
    background-color: #092E20;
    color: #eee;
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    text-align: center;
}

h1 {
    text-align: center;
    font-family: "HelveticaNeue-CondensedBold", "Helvetica Neue Condensed Bold", "Impact", Helvetica, sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 40px;
}

div.metric {
    border: 1px #92CC47 solid;
    margin: 11px;
    border-radius: 8px;
    background-color: #234F32;
    position:relative;
    height: 150px;
}

div.metric h2 {
    font-weight: 400;
    font-size: 14px;
    text-align: center;
    background-color: #92CC47;
    color: black;
    margin: 0px;
    padding: 6px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

div.metric a {
    color: inherit;
    text-decoration: none;
}

div.sparkline {
    position: absolute;
    height: 130px;
    top: 20px;
    width: 100%;
}

div.summary {
    background-color: #92CC47;
    color: #000;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    height: 20px;
}

div.metric div.summary {
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
}

div.metric div.summary p{
    margin: 0;
}

div.metric span.timestamp {
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    display: block;
    font-weight: 400;
    font-size: 11px;
    margin: -12px 0 8px 0;
    padding: 0;
}

p.metric{
    height: 100px;
}

p.updated {
    clear: both;
    font-weight: 400;
    font-size: 11px;
    text-align: center;
    margin: 0 0 4px 0;
    padding: 0;
    opacity: 0.5;
}

#graph {
    width: 800px;
    height: 500px;
    margin: 0 auto;
}

#legend{
    margin: 0 auto;

}

#hover {
    position: absolute;
    display: none;
    padding: 4px 10px;
    font-size: 16px;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 12px;
}

.key{
    color: red;
    font-size: 2em;
}

.key.versus{
    color: #fff;
}

.key span.control, .key span.experiment{
    font-size: 0.6em;
    padding: 5px;
    color: black;
    display: inline-block;
    font-weight: 800;
}


.key span.control{
    background-color: white;
}

.key span.experiment{
    background-color: yellow;
}

.key.versus.second span.control{
    background-color: black;
    color: #fff;
}

.key.versus.second span.experiment{
    background-color: orange;
}

span.branch{
    font-weight: 800;
}

.suite h2, .suite h4{
    margin: 0px;
}

.tickLabel {
    color: #fff;
}
